body {
  padding-top: 30px; 
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
 background-color: #9ce4ee;
}

h1{
  font-family: 'Calistoga', cursive;
  color: rgba(241, 79, 4, 0.918);
}

a {
  color: rgba(213, 4, 241, 0.918);
}

.font-2{
  font-size: 1.3rem;
}